{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="hero-wrap js-fullheight" style="background-image: url('{% static 'images/bg_2.jpg' %}');" data-stellar-background-ratio="0.5">      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start" data-scrollax-parent="true">
          <div class="col-md-8 ftco-animate text-center text-md-left mb-5" data-scrollax=" properties: { translateY: '70%' }">
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section ftco-degree-bg">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ftco-animate">
            <h2 class="mb-3">{{ invite.date }}</h2>
            <p>{{ invite.message|safe }}</p>
            <hr>

          </div> <!-- .col-md-8 -->
          <div class="col-md-4 sidebar ftco-animate">

          </div>

        </div>
      </div>
    </section> <!-- .section -->

{% endblock %}